
body{
    background-color:lightblue;
    color: gray;
    background-image: url('./Untitled\ design.png');
}
.card-body{
    /* background: black; */
    border-radius: 30%;
    
}

.hide{
    display: none;
}
h1{
    text-align: center;
}
.citydetails h2{
    text-align: center;
}
.container-weather{
    padding:1%;
}

/*  */

.lowUv{
    background-color: lightblue;
    color: darkblue;
    border-radius: 5px;
}

.medUv{
    background-color:rgb(223, 210, 28);
    color: rgb(190, 96, 61);
    border-radius: 5px;
}

.highUv{
    background-color: red;
    color: black;
    border-radius: 5px;
}
img{
    width: 50%;
}
.card {
    
    
}

@media only screen and (max-width: 600px) {
    .card,.card-body, .col{
        padding: 0;
        margin:0;
    }
  }
